.CardRight {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    border-color: black;
    width: 60%;
    padding: 15px;
    margin: 20px
}

@media (max-width: 550px) {
    .CardRight {
        width: 90%;
    }
}